.min-h-screen {
  min-height: 100vh;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

main {
  padding: 2rem 0;
}

@media screen and (max-width: 768px) {
  main {
    padding: 1rem 0;
  }
} 